.status-bar {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  opacity: 0.65;
}

.status-bar i {
  font-size: 14px;
}
.status-bar .status-bar__battery-level {
  margin-left: 5px;
}
